#### Q1. 남녀 파트너 정해주기 프로그램(zip) 
같은 수의 남녀 모임에서 파트너를 랜덤하게 정해주는 프로그램을 만들어 보세요

male = ['철수','갑돌','로미오','이몽룡','온돌']

female = ['미미','갑순','줄리엣','성춘향','평강']

#### Q2. 사용자가 입력한 횟수만큼 로또 변호를 출력하는 프로그램을 작성하세요. (중복 금지)

[도전과제] 발표자를 원하는 수만큼 랜덤하게 출력하는 프로그램을 작성하세요.

In [1]:
import random 
import numpy as np


list = ['박영권','김현지','김덕현','변서연','한지웅','양주희','이호원','정지은','이정현A',
         '이정현B','이명진','이상윤','조승현','강유한','김영선','최애림','김민섭','박혜린',
         '윤정준','김진형','진청아','신창훈','김병석','박세희']



print("=============== CAKD7 발표자 랜덤 뽑기 입니다.==============="'\n')
                        
get_ran_num = int(input(" 발표 인원을 입력해주세요 >  "'\n')) 


lucky_guy = random.sample(list,get_ran_num)

print(" ")
for i in range(get_ran_num):
    print(f'{i+1}번 문제 발표자는 {lucky_guy[i]} 입니다.')

=============== CAKD7 발표자 랜덤 뽑기 입니다.===============

 발표 인원을 입력해주세요 >
3

1번 문제 발표자는 김덕현 입니다.
2번 문제 발표자는 진청아 입니다.
3번 문제 발표자는 이상윤 입니다.

#### Q3. 입력받은 문자열의 각 문자를 그 다음 문자로 변경하여 출력하세요. abc -> bca

#### Q4. url에서 호스트 도메인을 추출하여 출력하세요.

In [ ]:
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

#### Q5. url에서 쿼리문을 추출하여 출력하세요.

In [ ]:
# url에서 '?'뒤에 표시되는 문자열을 쿼리 문자열이라고 하며 변수=값 사이 &로 구분되어 나열된다.
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

#### Q6. 텍스트 파일(mydata.txt)을 읽고  파일의 내용에서 나타나는 문자들에 대해 자주 나타나는 문자들을 아래와 같이 순서대로 출력하세요.
- \[ \] -> [177]회 나타남
- [e] -> [97]회 나타남
- [t] -> [85]회 나타남

#### Q7. 두개의 수를 입력한 후 두개의 수에 대한 사칙연산을 수행하세요.(0을 입력한 경우 다시 입력하도록 조치)

In [ ]:
# Cal4 클래스를 만들어서 작성

#### Q8. Order 클래스를 상속받아 extraOrder 클래스에서 메소드 오버라이딩하여 출력가격에 원이 추가되도록 출력하세요.

In [4]:
class Order: 
    def __init__(self, name): 
        self.customer = 0 
        self.name = name 
    def order(self, price): 
        self.customer += price 
        return self.customer
    
order = Order('kevin')
print(order.order(1000))

1000

#### Q9. 업무미팅이 2시임을 알려주는 자동 이메일을 클래스 AutoEmail을 작성하여 아래와 같이 출력하세요.
안녕하세요. Kevin님, 업무미팅은 2시입니다.

#### Q10. 정규표현식을 사용하여 test에서 전화번호만 출력하세요.
text = "문의사항이 있으면 032-232-3245으로 연락주시기 바랍니다."

#### Q11. 정규표현식을 사용하여 text에서 에러가 들어간 부분만 포함하는 리스트를 출력하세요.
text = "에러 1122, 레퍼런스 오륲, 에러 1033, 아규먼트 오류, 에러 xxx"

#### Q12. 정규표현식을 사용하여 text에서 지역코드만 출력하세요.
text = "문의사항이 있으면 032-232-3245으로 연락주시기 바랍니다."

#### Q13. 정규표현식을 사용하여 text에서 지역코드 제외한 번호만 출력하세요.
text = "문의사항이 있으면 032-232-3245으로 연락주시기 바랍니다."

#### Q14. 'abcdefghij' 에 대하여 중첩을 적용한 서브그룹 5개로 컴파일하여 group()함수를 이용하여 'abcdefghi'와 e'를 출력하세요

#### Q15. 위문제에서 모든 서브 그룹에 대한 문자열을 포함하는 튜플을 출력하세요.

#### Q16. 이름으로 그룹을 참조하여 'Lots of punctuation 에서 Lots를 출력하세요.

#### Q17. 'Paris is very very beautiful.'에서 'very very'를 출력하세요.

#### Q18. 정규표현식을 작성하여 아래와 같이 출력하세요.
['1 apple', '5 oranges', '3 boys', '4 girls', '10 army', '11 mr']

In [ ]:
# Q
import re
li = '1 apple, 5 oranges, 3 boys, 4 girls; 10 army| 11 mr'
regex = re.compile(      )
list = regex.findall(li)
print(list)

In [ ]:
text = 'Hello my friend! Life is short you need Python!'

#### Q19. text에서 'H,h'만 출력하세요.

#### Q20. text에서 'H,h'가 아닌 것 모두를 출력하세요.

#### Q21. 'we are going home'에서 home만 출력하세요.

#### Q22. '199305, 1923A, a93247'에서 '199305'만 출력하세요.

#### Q23. '12345abc'에서 'abc'만 출력하세요.

#### Q24. '12345abc'에서 'a'만 출력하세요.

#### Q25. 'abc12345Abc'에서 'A'만 출력하세요.

#### Q26. 'Banker'에서 'anker', 'banker123'에서 'banker'를 출력하세요

#### Q27. 'KOREA 대한민국'에서 '대'만 출력하세요.

#### Q28. text에서  'aaaaBBBcccDDDeee'을 모두 출력하세요.
text = 'aaaBBccDDeeaaaaBBBcccDDDeeeeeeDDDcccBBBaaaa'

#### Q29. 아래의 경우에서 \<html>만 출력하세요

In [3]:
# Q
import re
pattern = re.compile('<.*>')
text = '<html><head><title>Title</title></head><body></body></html>'


print(len(text))
p = pattern.search(text)
p.group()

59

'<html><head><title>Title</title></head><body></body></html>'

#### Q30. '1234a1234'에서  '1', '2', '3', '4'를 모두 출력하세요.

#### Q32. text에서 전체문장 모두 출력하세요.

In [3]:
# Q.
import re
text = "what are you doing?\nit is going to be late for school\nwe need to hurry up"
regex = re.compile('.*')
mo = regex.search(text)
print(mo.group())

what are you doing?

#### Q33. text에서 대소문자 구분없이 전체문장 모두 출력하세요
text = 'Friend fRiend friEnd FRIEND'

#### Q34. 1609160537.371015을 "Sat Jun 26 08:35:03 2021" 포멧으로 출력하세요.

#### Q35. 현재 날짜와 시간을 "Sat Jun 26 08:35:03 2021" 포멧으로 출력하세요.

#### Q36. 현재 시간을 년-월-일 시:분:초로 출력하세요.

#### Q37. 현재 시간을 time.time을 불러와서 년-월-일 시:분:초로 출력하세요.

#### Q38. 올해 경과된 날짜수 계산하세요

#### Q39. 현재 요일을 "2021-6-26 오늘은 토요일입니다."와 같은 형식으로 출력하세요.

#### Q40. 1에서 백만까지 더하는데 걸리는 프로그램 실행 시간을 밀리초(ms) 단위로 구하세요.

#### Q41. 아래 코드를 보완하여 발생 가능한 모든 예외(정수, 인덱스, 미리 파악하지 못한 예외)를 처리한 후 마지막에  '모든 예외처리 완료'를 출력하세요.

In [ ]:
# Q. 
list_num = [52,273,32,72,100]

num_input = int(input('정수 입력> '))
print(f'{num_input}번째 요소: {list_num[num_input-1]}')

#### Q42. 기본가격 1000원인 2개의 상품에 대하여 임의의 추가 가격을 입력시 가격 조정한 결과를 반환하는 Price 클래스를 생성 후 객체를 만들어 price1, price2를 수행하세요. 
- price1 : 기본가격 + 추가가격
- price2 : (기본가격 + 추가가격) * 90%

#### Q43. strings를 문자의 크기 순서로 내림차순 정렬하세요
strings = ['a', 'ca', 'bar', 'aaaa', 'ababa']

#### Q44. strings를 다양한 문자가 포함된 순서로 정렬하세요

In [2]:
# Q.
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']
strings.sort(key = lambda x:len(set(x)))
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

#### Q45. 'abcde' 를 'edcba'로 바꾸어 출력하세요.(5가지 방법)